.App {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;

  
  
  
  
}






.App-header {
  background-color: #22201c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.brand-title {
  font-size: 3rem;
  color: #d9d9d9;
}

.brand-title span {
  color: #ffde59;
}

.brand-description {
  font-size: 1.4rem;
}

.links {
  display: flex;
}

.links a {
  color: #d9d9d9;
  font-size: 1.2rem;
  margin: 1rem;
}
.product-grid {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  
  width: 80rem;
  float: right;
  
  
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 1rem;
  padding-top:40px;
  padding-bottom: 40px;

  padding-top: 4%;
  margin-left: 4rem;

  text-align: center;
  width: 20rem;
  margin-bottom: 4rem;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  
}
.heart-button {
  width: 30px;
  height: 30px;
  background-color: red;
  border: none;
  position: relative;
  transform: rotate(45deg);
  cursor: pointer;
  outline: none;
  margin-bottom: 1rem;
  display: flex;
  margin-left: 1rem;
  
}

.heart-button:before,
.heart-button:after {
  content: '';
  width: 30px;
  height: 30px;
  background-color:red;
  border-radius: 50%;
  position: absolute;
}
.heart-button:before {
  top: -15px;
  left: 0;
}

.heart-button:after {
  top: 0;
  left: -15px;
}

.nav{

  
  position: fixed;
  overflow: hidden;
  top: 0%;
  
  background-color:#a855f7;

  
  padding-top: 0%;
  padding-bottom: 7%;
  margin-block: 0%;
  
}
.sideBar{

  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0%;
  float: left;
  width: 20rem;
  height: 10rem;
  padding-left: 2rem;
  
  position: fixed;



}
.Cartbtn{
  display: flex;
  color: white;
  width: 100%;
  font-weight: bold;

    padding: 0.9rem ;
    background-color: #a855f7;
    justify-content: center;

    margin-top: 1rem;
    
    
  border-radius: 0.5rem;
    font-size: large;
    
    border: none;
    
     
  }
  .item-title{

    margin-top: 2rem;
    margin-bottom: 0%;
    margin-block-end: 0%;
  text-align: left;
  padding-left: 2rem;
  }
  
  .item-author{

    margin-block-start: 0%;
    text-align: left;
    padding-left: 2rem;
    color: grey;
  }
  .item-price{

    font-size: large;
    text-align: left;
    padding-left: 2rem;
  }
  .homeMain{

    
    width: 100%;
    display: flex;
  }

  .image-container{
  
    width: 100%;
  
    
  
    

  }
  .home-bg{

    background: url("https://img.freepik.com/premium-psd/high-angle-book-mock-up-with-glasses-coffee_23-2148657172.jpg?w=900");
    width: 100%;
    margin: auto;
    height: 70vh;
    
    
 color:white;

    

    
    
    
  }

  .circular{


    display:flex ;flex-direction:column ;width:200px
     ; height:200px ; border-radius:50%  ; justify-content:center ; box-shadow: 0 0 25px rgba(0, 0, 0, 0.25) ;  padding:30px ; overflow:hidden ; transition:transform 0.2s; cursor: pointer;
  }
  .circular:hover {
    transform: scale(1.1); 
  }
  .circleTitle{

    font-weight:bold; font-size:1.2rem;  
  }
  .circlePara{

    font-size: large;
    text-align: center;
    margin-bottom: 2rem;
  }

  


 

.footer{
  display: flex;

  background-color: #22201c;
  width: 100%;
  padding-bottom: 2rem;
  
  margin-top: 5rem;
  text-align: left;
  flex-direction: row;
  
}
.login{

  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: auto;
  padding: 4rem;
  margin-top: 1rem;
  border: 1px solid #a855f7;
  margin-top: 4rem;
  border-radius: 1rem;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}
.qty{
padding: 1rem;
  
}
.qty button{

font-size: large;
  padding: 0.7rem;
  border-radius: 0.7rem;
  border: none;
  background-color: lightgray;
}

.qtyNum{
padding: 0.5rem;
  border: 1px solid;
}
.alert{



  

  text-align: center;



  background-color: #a855f7;
  border: 1px solid #ccc;
  padding: 2px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border: solid 1.5px var(--dark-color);
  
  border-radius: 1rem;
  color: white;
  font-size: large;

}
@media only screen and (max-width: 425px) {
  .App{
    margin: 0;
    padding: 0;
    
    

    
  }
  .nav{
    padding: 0.5rem;
    width: 100%;
   position: fixed;
   overflow: hidden;
   z-index: 999;
  
 
   
 
    
    
    
  }
  .alert{

  
  display: flex;
  justify-content: center;
  position: fixed;
  margin-top:6.5rem;
  width: 100%;
  padding: 0%;
  height: 3vh;

  



animation: slideRight 2s ease-in-out infinite alternate; 

  
  
 

  }


  @keyframes slideRight {
    0% {
      right: 0;
    }
    100% {
      right: calc(100% - 0px); 
    }
  }
 .alert p{

  margin: 0%;
  padding: 0%;
font-size: 14px;
 }
  .navHeader{
    margin: 0%;
    padding: 1rem;
    text-align: left;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-left: 1rem;
    
    
    
    
    

  
    


  }
  .navBtn{
    

   

position: absolute;


top: 5%;
right:  5%;
padding-top: 1rem;
padding-right: 2rem;
padding-bottom: 0%;
margin: 0%;




    
  }
  .navBtn span{
    font-size: 10px;
  
  }
  .navInput{
    
  
    
  display: flex;
  padding: 0.4rem;
  width: 80%;
  margin-left: 1rem;
  border-radius: 1rem;
  border: none;
  

    
  }

  
  

  .loginContainer{

    
    padding: 0.5rem;
    margin: auto;
  
  
  }
  


  .login{
  
    width: 5rem;
    height: 10rem;
  
  
    margin-top: 12rem;
    font-size: 15px;
    
    padding-top: 2rem;

  }
  .login h2{
    margin-top: 0%;
    font-size: 16px;
    
  }
  .login input{
    
    justify-content: center;

  
    
      width: 100%;
    padding: 0.2rem;
    margin-bottom: 0.5rem;
  
    
  }
  .login button{
    
    display: flex;
    justify-content: center;

    width: 100%;
    
    padding: 4px;
    font-size: 10px;
    
    background-color: #a855f7;
    border: none;
    color: white;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;

    

  }
  .login p{
    

    width: 100%;

    font-size: 10px;
    
  
  }
  .signupContainer{

    border: 1px solid #a855f7 ;
    margin-top: 10rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 1rem;
    
    

    
    
  
  


  }
  .signup{

    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 0%;
    
    
  
    



  }
  .signup input{

    justify-content: center;

  
    
    width: 100%;
  padding: 0.2rem;
  margin-bottom: 0.5rem;



  }
  .signup h3{
    margin-top: 20%;
    font-size: 16px;
    
  }
  .signup button{
    display: flex;
    justify-content: center;

    width: 100%;
    
    padding: 4px;
    font-size: 10px;
    
    background-color: #a855f7;
    border: none;
    color: white;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;

  }
  .signup p{
    display: flex;
    font-size: 12px;
    width: 5rem;
    
  }
  .homeMain{
    display: flex;

    width: 100%;

  }
  .homeMain h3{
    
    width: 100%;
    text-align: left;
    margin-top: 10rem;
    padding: 1.5rem;
    font-size: 16px;
    padding-bottom:0.5rem ;

    
    color: white;
    
    
    
  }
  .homeMain h2{
    text-align: left;
    padding: 1.5rem;
    margin-top: 0%;
    padding-top: 0rem;
    font-size: 15px;
    
    color: white;
    

  }

   
    .homeMain button{

      margin-top: 1rem;
      display: flex;
      margin-left: 2rem;
      padding: 0.5rem;
      background-color: #a855f7;
      border: none;
      color: white;
      border-radius: 0.5rem;
      font-size: 15px;
    cursor: pointer;
    margin-bottom: 3rem;
      
      
    }
     .home-bg{


      background: url("https://img.freepik.com/premium-psd/high-angle-book-mock-up-with-glasses-coffee_23-2148657172.jpg?w=900");
      width: 100%;
      height: 80%;
    overflow: hidden;
      margin-top: 6rem;
     }

     .circularContainer{

      margin: 0%;
      padding: 0%;


     }
    .circular{

      margin-top: 2rem;
      width: 150px;
      height: 150px;
      
    }
    .circleTitle{

      font-size: 16px;
    display: flex;
    justify-content: center;
    }
    .circlePara{

    display: flex;
    justify-content: center;
    margin: 0%;
    font-size: 14px;
    }
    .circular:hover {
      transform: scale(1.1); 
    }
    

    .footerUl{
      width: 100%;
      list-style: none;
    
    
    }
    .footerUl p {
      color: white;
      
    }
    .sideBar{

      padding-top: 6.5rem;
      padding-left: 2%;
      position: fixed;
      margin-left: 0%;
    
      z-index: 500;
      height: 100%;
      
      
    }
    .sideBar span{
      display: flex;
      flex-direction: column;
      height: 100vh;
      padding-top: 1.5rem;

      width: 50%;
      background-color: white;
      
      padding-left: 4rem;
      margin-left: 0%;
  position: absolute;
  left: -14%;
  padding-right: 1rem;
  
      
    

    }
    .sideBar button{

      position: absolute;
      right: 4%;
      background-color: white;
      border: none;

    }
    .sideBar h3{

      font-size: 14px;

    }
    .sideBar p{
      margin: 0%;
    }
    .productlistDiv{
      display: flex;
    
      justify-content: center;
  
      

    }
  
    .product-grid{

    padding-top: 25%;
    

padding-right: 1.5rem;


    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  grid-gap: 1rem;
    
    
      
      
      
    }
    .product-grid h2{

      font-size: 16px;
      font-weight: 500;
      
    }
    .product-card{

    
      display: flex;
      
      flex-direction: column;
        border: 1px solid #ddd;
        border-radius: 0.5rem;
        
        
        
        padding-bottom: 10%;
        
      
        text-align: center;
        width: 10rem;
      
        margin-bottom: 1.5rem;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
        margin-left: 1rem;
        
        
        
    

    }
    .product-card span{
      
justify-content: left;
padding: 0.5rem;
font-size: 14px;


      

    }
    .product-card span p{
      background-color: red;
      text-align: center;
      padding: 5px;
      color: white;
      font-weight: bold;
      border-radius: 0.5rem;
      
    }
    .product-card img{
      width: 100%;
      
      max-width: 100%;
  flex: 1;
    }
    .product-card p{
      margin: 0%;
    }

    .item-title{

      padding-left: 5%;
    }
    .item-author{
      padding-left: 5%;
    }
    .item-price{
      padding-left: 5%;
    }
    .Cartbtn{
      font-size: 14px;
      padding: 0.5rem;
    
      width: 90%;
        margin: auto;
        margin-top: 0.5rem;
        
      
    }
  



    .heart-button {
      width: 15px;
      height: 15px;
      position: absolute;
      transform: rotate(-45deg);
      background-color: red;
      margin: 0%;
      margin-left: 1rem;
      z-index: 1;
    
    }
    
    .heart-button::before,
    .heart-button::after {
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      background-color: red;
      border-radius: 50%;
    }
    
    .heart-button::before {
      top: -10px;
      left: 0;
    }
    
    .heart-button::after {
      top: 0;
      left: 10px;
    }
    .heartSpan{
      position: absolute;
    }
    .alert{

    
      font-size: 12px;
      padding: 0.5rem;
      border-radius: 0%;
    
    } 

    .cartContainer{
      

      width: 100%;
      padding-top: 9rem;
    }
    .cartContainer p{

      font-size: 17px;
      font-weight: 600;
    }
    

.cartBill{

  margin: auto;
  width: 80%;
margin-bottom: 2rem;
padding: 1rem;
font-size: 12px;
  

  box-shadow: 0 0 25px rgba(0, 0, 0, 0.20);
  
  
  


}
.cartProduct{

padding-inline-start: 0%; 
  
}

.cartProduct h2{

  font-size: 16px;
  font-weight: 500;
}
.cart{
  display: flex;
  justify-content: center;
 
  
  
margin: auto;

}
.cart ul{
  margin: 0%;
  padding: 0%;
  list-style: none;
}
.cart li{
  margin-bottom: 2rem;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.20);
  width: 15rem;
  height:12rem;
  text-align: right;

}
.cartDiv{

  display: flex;
  

  
}
.cartDiv h2{
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  padding-left: 1rem;
  margin-bottom: 0%;

}
.cartDiv h3{
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  padding-left: 1rem;
  margin-top: 0%;
  color: grey;
  margin-bottom: 10%;
}

.cartDiv p{

  font-size: 14px;
  font-weight: 600;
  text-align: left;
  padding-left: 1rem;
  margin-top: 0%;
  margin-bottom: 0%;
  
  
}
.cartDiv p span{

  font-size: 12px;
}

.qty{
  display: flex;

  margin-top: 0%;
  width: 20%;
  height: 15%;
  margin-bottom: 0%;
  padding-bottom: 0%;
  

  
}
.qty button{
  
  margin: auto;
  padding: 0.5rem;
  border: grey 0.5px solid;
  background-color: white;
  font-size: 15px;
}
.qtyNum{

  padding: 0.5rem;
  margin: auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: 0.5px solid grey;

}
.cart img{
  padding: 0.5rem;

  width: 35%;
  height: 10%;


}
.cardInfo{

  display: flex;
  flex-direction: column;
  


  

}
.cartCardBtn{

  display: flex;
  margin: auto;
  border: none;
  background-color: white;
  font-size: 14px;
}

.wishHeader{
  text-align: center;

  font-size: 17px;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
.wishlistContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
}
.wishlistContainer ul{

  margin: 0%;
  padding: 0%;
  list-style: none;

  
}
.wishDiv{
  display: flex;
  padding: 0.5rem;

  width: 100%;
  border-top: 0.5px solid grey;
}
.wishlistContainer img{
  width: 35%;
  height: 10%;
  padding-top: 1rem;
  

  
}
.wishlistContainer li{
  

  width: 15rem;
  height: 12rem;
}
.wishInfo{

  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;

}
.wishInfo h2{
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  padding-left: 1rem;
  margin-bottom: 0%;


}
.wishInfo h3{
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  padding-left: 1rem;
  margin-top: 0%;
  color: grey;
  margin-bottom: 10%;
}
.wishInfo p{
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  padding-left: 1rem;
  margin-top: 0%;
  margin-bottom: 0%;
}
.wishInfo button{

  margin-top: 1rem;
  padding: 0.4rem;
  font-size: 12px;
  background-color: #a855f7;
  border: none;
  color: white;
  font-weight: 600;
  width: 100%;
  

}
.wishInfo img{
  display: flex;
  padding-left: 6rem;

width: 20%;
height: 10%;
  padding-top: 0%;
  margin: 0%;
}

.DetailContainer{

  padding-top: 8rem;

  
}
.detailContainer{

  padding-left: 20%;
  padding-right: 20%;
  
}
.imageDetail{

  width: 100%;
}
.detailInfo{
  display: flex;
  flex-direction: column;
  text-align: left;

}
.detailInfo h2{
  

margin-top: 5%;
font-size: 18px;
font-weight: 600;
margin-bottom: 0%;
}
.detailInfo h2 span{

  font-size: 14px;
}
.detailInfo h3{

  margin: 0%;
  margin-top: 5%;
}
.detailInfo p{

  font-size: 12px;
  margin-top: 5%;
}
.detailTag{

  display: flex;
  flex-direction: column;
  text-align: left;
  margin: auto;
  margin-bottom: 10%;
  font-size: 12px;
}
.detailTag p{

  margin-bottom: 0%;
  padding-bottom: 0%;
  margin-top: 3%;
}
.detailAuth{

  display: flex;
  flex-direction: column;
  text-align: left;
  margin: auto;
  color: grey;
  font-size: 12px;
  margin-bottom: 10%;

}
.detailAuth p{
  margin-bottom: 0%;
  margin-top: 3%;
}
.detailAuth p span{

  color: #a855f7;
}
.detailBtn{

  width: 100%;
  display: flex;
  
  
  
  
}
.detailBtn button{
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  font-weight: 600;
  border: none;
  
  
  
  
}
.userContainer{

  padding-top: 20%;
  
  
  
}
.userContainer h2{

  padding: 2rem;
  font-size: 16px;
}
.userMenueBtn{

  width: 100%;
  

}
.userMenueBtn button{
  width: 40%;
  padding: 0.5rem;
  font-size: 14px;
  border-top: none;
  border-left: none;
  border-right: none;
border-color: lightblue;
font-weight: 600;
}
.userAcc{
padding: 1rem;
box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
width: 70%;
margin: auto;
border-bottom-left-radius: 0.5rem;
border-bottom-right-radius: 0.5rem;

  
}
.userAcc p{
  display: flex;


  
}
.userAcc button{

  width: 40%;
  background-color: red;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 0.5rem;
  margin-top: 1rem;
}


.userAdress{

  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  
}
.userAdress h2{
  padding-bottom: 0.5rem;
  margin: 0%;
  padding-left: 0%;
  font-size: 16px;
}
.userAdress p{
  display: flex;
  flex-direction: column;
  margin: 0%;
  font-size: 14px;
}
#removeBtn{

  margin-top: 1rem;
  padding: 0.3rem;
  color: red;
  border: 1px solid red;
  background-color: white;
  border-radius: 0.5rem;
}
#userAdd{

  width: 100%;
  background-color: white;
  border: none;
  padding-top: 1rem;
}

.addressmenu{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
}
.addressmenu h4{
  font-size: 14px;
}
.addressmenu input{

  padding: 0.2rem;
  margin-bottom: 0.5rem;
}
.save{


padding: 0.3rem;
font-size: 14px;
background-color: #a855f7;
color: white;
border: none;
width: 40%;

}
.cancel{
  margin-left: 0.5rem;
padding: 0.3rem;
font-size: 14px;
background-color:white;
color: red;
border: 1px solid red;
width: 40%;


}
.cartNav img{

  width: 20%;
  height: 20%;
}
.wishlistNav img{
  width: 20%;
  height: 20%;
}
.userNav img{
  width: 20%;
  height: 20%;
}



  
}

@media only screen and (min-width: 435px ){
  

  .App{

width: 100%;

}
.nav{
  width: 100%;
  height: 0vh;
  margin: 0%;
  padding: 3rem;
}
.nav-container{

  display: flex;

}
.navBtn{

  position: absolute;
  right: 15%;
  padding-top: 0%;
  top: 25%;

  
  
}

.cartNav img{
width: 30%; 
height: 30%;


}
.wishlistNav{

  

  
}
.wishlistNav img{

  width: 30%;
  height: 30%;

  
}
.userNav img{

  width: 30%;
  height: 30%;
}
.navInput{

  margin: auto;
  width: 40%;
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
}
.navHeader{
  color: white;
  position: absolute;
  right: 80%;
  bottom: 10%;
font-size: 25px;
font-weight: bold;
}
.home-bg{
  margin-top: 6rem;
  width: 100%;
  height: 80vh;
}
.home-bg h3{

  display: flex;
  padding-left: 16rem;
padding-top: 15rem;
  font-size: 30px;
  padding-bottom: 0%;
  margin-bottom: 0%;
}
.home-bg h2{
  color:white;
  display: flex;
  padding-left: 16rem;
  font-size: 20px;
  
}
.home-bg button{
  display: flex;
  margin-left: 16rem;
  padding: 0.6rem;
  background-color: #a855f7;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 0.5rem;


}
.home-bg button:hover{

  background-color: #22201c;
}
.circularContainer{
  display: flex;
  margin: auto;

}
.circular{
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.footer{

  padding-bottom: 0%;
  
}
.footerUl{
  display: flex;
  
}
.footerUl div{

  padding-left: 10rem;
}
.connect{

  padding-top: 2rem;
  margin-left: 10rem;
  color: white;

}
.resources{

  padding-top: 2rem;
  margin-left: 10rem;
  color: white;


}
.about{
  padding-top: 2rem;
  color: white;
  
}
.loginContainer{

  margin-top: 10rem;
}
.login{

  width: 15rem;
  
  padding: 1rem 1rem;
}
.login input{

  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.login button{

  background-color:#a855f7;
  width:90%;
  font-size: 16px;

  
  margin: auto;
  margin-bottom: 1rem;
  color: white;
  padding: 0.3rem;
  border: none;
  border-radius: 0.5rem;
}
.signupContainer{

  
  border:1px solid #a855f7;
  width: 15rem;
  
  margin-top: 10rem;
  margin-left: 40%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  
}
.signup{
margin: auto;
padding: 1rem 1rem;

}
.signup input{
  

  padding: 0.5rem;
  margin-bottom: 0.5rem;

}
.signup button{

  margin-top: 1rem;
  padding: 0.3rem;
  color: white;
  background-color: #a855f7;
  width: 80%;
  border: none;
  font-size: 16px;
  border-radius: 0.5rem;

}
.productlistDiv{

 margin-top: 4rem;
  
}
.product-grid{
  
    display: grid;
    grid-template-columns: repeat(3, 0fr);

    
    
    width: 70rem;
  
    
    
    
  
    
    
  
}
.product-card{

  
    border: 1px solid #ddd;
    width: 15rem;
    
    height: 28rem;
    
  
    text-align: center;
  
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    
  
}
.product-card img{

width: 80%;


}
.heartSpan{
  display: flex;
  
  
}

.heart-button {
  width: 20px;
  height:20px;
  background-color: red;
  border: none;
  position: relative;
  transform: rotate(45deg);
  cursor: pointer;
  outline: none;
  margin-bottom: 1rem;
  display: flex;
  margin-left: 1rem;
  
}

.heart-button:before,
.heart-button:after {
  content: '';
  width: 20px;
  height: 20px;
  background-color:red;
  border-radius: 50%;
  position: absolute;
}
.heart-button:before {
  top: -10px;
  left: 0;
}

.heart-button:after {

  top: 0;
  left: -10px;
}
.rating{
  

  padding-left: 9rem;
  margin: 0%;

}
.item-title{
  padding-top: 0%;
  margin-top: 5%;
  margin-bottom: 0%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item-author{

  margin: 0%;
  font-size: small;


}
.Cartbtn{

  display: flex;
  width: 90%;
  margin:auto;
  padding: 0.5rem;
  margin-top: 0%;
  
}
.sideBar{

  padding-top: 5rem;
  padding-left: 2rem;

  
}
.sideBar div{
  margin-bottom: 0.5rem;
}
.clear{

  position: absolute;
  right: 20%;
  border: none;
  background-color: white;
}

.line{

  border-top: 1px solid #a855f7; 
  width: 100%;
  position: fixed;
  top: 50px; 
  right: 28%;
  transform: rotate(90deg);

  

}
.cart{

  padding: 1rem;
  margin-top: 4rem;
  display:grid

 
  

}





}