.App {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #22201c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.brand-title {
  font-size: 3rem;
  color: #d9d9d9;
}

.brand-title span {
  color: #ffde59;
}

.brand-description {
  font-size: 1.4rem;
}

.links {
  display: flex;
}

.links a {
  color: #d9d9d9;
  font-size: 1.2rem;
  margin: 1rem;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  width: 80rem;
  float: right;
  
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 1rem;
  padding-top:40px;
  padding-bottom: 40px;
  height: 70vh; 
  padding-top: 5%;
  margin-left: 4rem;

  text-align: center;
  width: 20rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  
}
.heart-button {
  width: 30px;
  height: 30px;
  background-color: red;
  border: none;
  position: relative;
  transform: rotate(45deg);
  cursor: pointer;
  outline: none;
  margin-bottom: 1rem;
  display: flex;
  margin-left: 1rem;
  
}

.heart-button:before,
.heart-button:after {
  content: '';
  width: 30px;
  height: 30px;
  background-color:red;
  border-radius: 50%;
  position: absolute;
}
.heart-button:before {
  top: -15px;
  left: 0;
}

.heart-button:after {
  top: 0;
  left: -15px;
}

.nav{

  background-color: lightblue;
  
  padding-top: 0%;
  padding-bottom: 6%;
  margin-block: 0%;
  
}
.sideBar{

  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0%;
  float: left;
  width: 25rem;
  height: 100rem;
  padding-left: 2rem;
  
  position: fixed;



}
.Cartbtn{
  display: flex;
  color: white;
  width: 100%;
  font-weight: bold;

    padding: 0.9rem ;
    background-color: violet;
    justify-content: center;

    
    
  border-radius: 0.5rem;
    font-size: large;
    
    border: none;
    
     
  }
  .item-title{

    margin-top: 2rem;
    margin-bottom: 0%;
    margin-block-end: 0%;
  text-align: left;
  padding-left: 2rem;
  }
  
  .item-author{

    margin-block-start: 0%;
    text-align: left;
    padding-left: 2rem;
    color: grey;
  }
  .item-price{

    font-size: large;
    text-align: left;
    padding-left: 2rem;
  }
  .homeMain{

    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
  }

  .image-container{
    position: relative;
    width: 100%;
    margin-top: 0%;
    
  
    

  }
  .home-bg{

    background: url("https://img.freepik.com/premium-psd/high-angle-book-mock-up-with-glasses-coffee_23-2148657172.jpg?w=900");
    width: 100%;
    margin: auto;
    height: 70vh;
    
 color:white;
 position: relative;
    

    
    
    
  }

  .circular{


    display:flex ;flex-direction:column ;width:200px
     ; height:200px ; border-radius:50%  ; justify-content:center ; box-shadow: 0 0 25px rgba(0, 0, 0, 0.25) ;  padding:30px ; overflow:hidden ; transition:transform 0.2s; cursor: pointer;
  }
  .circular:hover {
    transform: scale(1.1); /* Apply scale transformation on hover */
  }
  .circleTitle{

    font-weight:bold; font-size:1.2rem;  
  }
  .circlePara{

    font-size: large;
    text-align: center;
    margin-bottom: 2rem;
  }

  
  .homestorebtn{

    display: flex;
    margin-left: 20rem;
    padding: 0.7rem;
    width: 10%;
    justify-content: center;
    background-color: violet;
    border: none;
    border-radius: 1rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    cursor: pointer;
  }

  .homestorebtn:hover {
    background-color: #22201c;
  }

.footer{
  display: flex;

  background-color: #22201c;
  width: 100%;
  height: 30vh;
  
  margin-top: 5rem;
  text-align: left;
  flex-direction: row;
  
}